### gitignore template
.idea
vue2/.idea
*.iml
*.log
*.db
./config/*.db
*.sqlite
*.sqlite3
out
gen
tmp_logs
tmp
logs
gomessage
gomessage.db
/RunGoMessage
/gomessageDeBug
/gomessageDebug
/gomessageRun
/gomessageRunBuild
venv
env
build
.venv
.env
*.tar.gz
lastupdate.tmp
routers/commentsRouter_controllers.go
routers/commentsRouter______________________Users_tay_go_src_GoMessage_controllers.go
GoMessage
*prof
.DS_Store

