### gitignore template
.idea
vue/.idea
vue/node_modules
*.iml
*.log
*.tgz
*/*.tgz
*.db
./config/*.db
*.sqlite
*.sqlite3
out
gen
tmp_logs
tmp
logs
gomessage
gomessage.db
/RunGoMessage
/gomessageDeBug
/gomessageDebug
/gomessageRun
/gomessageRunBuild
venv
env
build
.venv
.env
*.tar.gz
lastupdate.tmp
src/routers/commentsRouter_controllers.go
src/routers/commentsRouter______________________Users_tay_go_src_GoMessage_controllers.go
GoMessage
*prof
.DS_Store
data
data/*.db
data/*.log
tmp
tmp/
tmp/*

